.hero {
  height: 90vh;
  background-color: rgba(255, 255, 255, 0.171);
  background-image: url("./resources/peakpx.jpg");
  background-size: cover;
  background-position: center;
  .hblr {
    z-index: 50;
    background: linear-gradient(
      0deg,
      black,
      rgba(0, 0, 0, 0.749) 70%,
      transparent
    );
    height: 100%;
    padding: 50px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: clamp(2rem, 1.3182rem + 3.4091vw, 3.5rem);
      span {
        color: var(--tertiary-color);
      }
    }
    p {
      font-size: clamp(1rem, 0.6591rem + 1.7045vw, 1.75rem);
      margin: 1rem 0;
    }
    .hbbtn {
      a {
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        font-weight: 900;
        border: 2px solid var(--secondary-color);
        background-color: var(--secondary-color);
        color: var(--tertiary-color);
        border-radius: 12%;
        font-weight: 500;
        transition: all 0.3s ease;
        &:first-child {
          margin-right: 1rem;
          border: 1px solid rgb(4, 39, 48);
          background-color: var(--tertiary-color);
          color: var(--secondary-color);
        }
        &:hover {

          box-shadow: -2px 2px 2px rgb(199, 194, 194);
        }
      }
    }
  }
}

.mcard-cont{
  margin-top: 20px;
  .mdata{
    display: flex;
    padding: 12px 0;
    h2{
      font-size: clamp(1.5rem, 0.5909rem + 4.5455vw, 3.5rem);
      font-weight: 600;
      color: var(--secondary-color);
      width: 100%;
      text-align: center;
    
    }
  }
  
}

.mcards{
  min-height: 800px;
  background:linear-gradient(45deg,rgb(124, 6, 148),var(--tertiary-color),rgb(124, 6, 148));
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  padding: 20px;
  .mcard{
    position: relative;
    width: 250px;
    height: 350px;
    background-color: rgb(0, 0, 0);
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .mcard-info{
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      padding: 100% 8px 0 8px;
      background: linear-gradient(0deg,rgb(0, 0, 0) 0%,rgba(0, 0, 0, 0.9) 20%,rgba(0, 0, 0, 0.8) 30%,transparent 100%);
      h3{
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--tertiary-color);
      }
      p{
        font-size: 0.6rem;
        margin: 5px 0;
      }
      a{
        position: absolute;
        bottom: 32%;
        right: 5%;
        font-size: 0.8rem;
        border: 1px solid white;
        border-radius: 25px;
        background-color: var(--tertiary-color);
        padding: 5px 10px;
        font-weight: 500;
        transition: all 0.5s ease;
        &:hover{
          color: var(--tertiary-color);
          background-color: var(--secondary-color);
        }
      }
    }
  }
}

.mcard2{
  position: relative;
  width: 250px;
  height: 60px;
  background-color: rgb(0, 0, 0);
  .mcard2-info{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px 25%;
    background:linear-gradient(45deg,rgb(67, 7, 73),var(--tertiary-color),rgb(121, 42, 2) 70%);
  }
}

.slider-container{
  margin-top: 12px;
  height: 400px;
  width: 100%;
  .slider{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 50px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    .slide{
      height: 90%;
      min-width: 70%;
      scroll-snap-align: center;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
@media screen and (max-width:400px) {
  .slider{
    gap: 30px !important;
  }
}